.keypad-button {
    width: 33.33333%;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.questionButton{
    border-radius: 50%;
}
.full-view-height{
    height: 90vh;
}
