
<div class="margin" style="width: 100%; background-color: lightgray; padding: 1rem;">
        <h3>Question Section</h3>
</div>
<div  style="height: 100%; width: 100%;">
<div class="row">
    <!-- Sidebar -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar full-view-height">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link active" (click)="mcq()">MCQ Questions</a></li>
                <li class="nav-item"><a class="nav-link" (click)="codingQuestions()">Coding Questions</a></li>
            <!-- Add more items as needed -->
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
