<div class="margin text-dark p-3" style="width:100%;background-color: #c9d4e6;">
    <div>
        <h3>Admin Console</h3>
    </div>
</div>
<div class="container-fluid" style="height: 100%;">
<div class="row"> 
    <nav class="sidebar " style="background-color: #c9d4e6; width:11%">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link active" (click)="mcq()">MCQ Questions</a></li>
                <li class="nav-item"><a class="nav-link" (click)="codingQuestions()">Coding Questions</a></li>
           
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <main role="main" style="border-bottom: 10px solid #c9d4e6;width:84%;">
        <!-- Content goes here -->
        <router-outlet></router-outlet>
    </main>

    <!-- Sidebar -->
    <nav class="sidebar" style="width:5%;background-color: #c9d4e6;">
    </nav>
</div>
</div>

