<div class="main-margin row" *ngFor="let question of displayedQuestions">
  <div>
    <div class="card col-md-8" style="background-color: #c9d4e6;">
      <div class="card-body">
        <div class="col-md-12">
          <h6 class="card-title">{{question.no}}. {{question.desc}}</h6>
        </div>
        <hr>
        <div class="col-md-12 options-margin">
          <form>
            <label class="col-md-6 opt-margin" *ngIf="(question.a!='')">
              <input type="radio" name="options" value="a" (change)="onRadioChange('a', question.id)"> {{question.a}}
            </label>
            <label class="col-md-6 opt-margin" *ngIf="(question.b!='')">
              <input type="radio" name="options" value="b" (change)="onRadioChange('b', question.id)"> {{question.b}}
            </label>
            <label class="col-md-6 opt-margin" *ngIf="(question.c!='')">
              <input type="radio" name="options" value="c" (change)="onRadioChange('c', question.id)"> {{question.c}}
            </label>
            <label class="col-md-6 opt-margin" *ngIf="(question.d!='')">
              <input type="radio" name="options" value="d" (change)="onRadioChange('d', question.id)"> {{question.d}}
            </label>
            <label class="col-md-6 opt-margin" *ngIf="(question.e!='')">
              <input type="radio" name="options" value="e" (change)="onRadioChange('e', question.id)"> {{question.e}}
            </label>
          </form>
        </div>
        <hr>
            <button class="btn btn-dark" style="margin-right: 1px;" (click)="previous()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                </svg> Previous
            </button>
            <button class="btn btn-dark float-end" style="margin-left: 1px;" (click)="next()">Next 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                </svg>
            </button>
      </div>
    </div>
  </div>


  <!-- Sidebar -->
  <nav class="sidebar col-md-4 d-none d-md-block full-view-height" style="padding: 0px;background-color: #c9d4e6;overflow-y: auto;">
    <div class="sidebar-sticky" style="margin: 10px;">
      <div class="row" style="margin: 10px;">
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">1</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">2</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">3</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">4</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">5</button>
        </div>
        <div class="col-4 keypad-button margin">
           <button class="btn btn-outline-dark questionButton">6</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">7</button>
        </div>
          <div class="col-4 keypad-button margin">
        <button class="btn btn-outline-dark questionButton">8</button>
          </div>
        <div class="col-4 keypad-button margin">
           <button class="btn btn-outline-dark questionButton">9</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">*</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">0</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">#</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">1</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">2</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">3</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">4</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">5</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">6</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">7</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">8</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">9</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">*</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">0</button>
        </div>
        <div class="col-4 keypad-button margin">
          <button class="btn btn-outline-dark questionButton">#</button>
        </div>
      </div>
    </div>
  </nav>
</div>
  
  