<div id="myCanvas" style="display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;"></div>
<div class="margin text-dark p-3" style="background-color: #c9d4e6;">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="assets/space.jpg" alt="Logo" style="height: 35px; width: 35px; border-radius: 5px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <h3>Exam Portal</h3>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="obj.isLoggedIn">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="!obj.isLoggedIn">
            <ul class="navbar-nav ml-auto">
                <button class="btn btn-dark" style="width: max-content;height: min-content;" (click)="backToLogin()">Sign In</button>
            </ul>
        </div>
    </nav>
</div>
<div class="container" style="margin-top: 75px;max-width: 400px;">
    <div class="card">
        <div class="card-body" style="margin-bottom: 10px;margin-top: 20px;">
            <h2 class="text-center text-dark" style="margin-bottom: 30px;">Login</h2>
            <form (ngSubmit)="login()">
                <hr>
                <div class="col-md-12 form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="admin" style="margin-left: 220px;" (change)="isAdmin=true">
                    <label class="form-check-label float-end" for="admin">Admin</label>
                </div>
                <hr>
                <div class="form-group text-dark" style="margin-bottom: 60px;">
                    <label for="username" style="margin-bottom: 10px;">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username" [(ngModel)]="username">
                </div>
                <div class="form-group text-dark" style="margin-bottom: 40px;">
                    <label for="password" style="margin-bottom: 10px;">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark" style="margin-top: 20px;">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/three@latest"></script>
<script
  src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.fog.min.js"></script>
<script>
VANTA.FOG({
    el: "#myCanvas",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    highlightColor: "#c9d4e6",
    midtoneColor: 0xf2f2f2,
    lowlightColor: 0xe8e8e8,
    baseColor: "#c9d4e6",
    speed: 1.90,
    zoom: 1.5
});
</script>