<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container">
                    <img src="../../../assets/" alt="">
                </div>
                <h1 class="text-center">Register here</h1>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                            <input matInput placeholder="Enter here" [(ngModel)]="userdata.username" name="user" required>
                            <mat-hint>Username must be unique</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                            <input type="password" matInput placeholder="Enter here" [(ngModel)]="userdata.password" name="password">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                            <input matInput placeholder="Enter here" [(ngModel)]="userdata.name" name="name">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Role</mat-label>
                            <input matInput placeholder="Enter here" [(ngModel)]="userdata.role" name="role">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                            <input type="email" matInput placeholder="Enter here" [(ngModel)]="userdata.email" name="email">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                            <input type="number" matInput placeholder="Enter here" [(ngModel)]="userdata.phoneNumber" name="phoneNumber">
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="primary" >Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent" >Clear</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>