<!-- landing.component.html -->

<div class="container mt-5" *ngIf="obj.isLoggedIn">
    <h2>Welcome to Code Compiler and Tester</h2>
  
    <div class="form-group mt-3">
      <select style="border-radius: 10px;" [(ngModel)]="selectedLanguage">
        <option value="java">Java</option>
        <option value="python">Python</option>
      </select><br>
      <label for="codeInput">Enter Your Code:</label>
      <textarea class="form-control" id="codeInput" [(ngModel)]="code" rows="8"></textarea>
    </div>
  
    <button class="btn btn-primary mt-3" (click)="compileAndTest()">Run</button>
  
    <div class="mt-4" *ngIf="result">
      <h4 class="text-light">Results:</h4>
        <p *ngIf="result.compilationSuccessful" class="text-success">Code compiled and tested successfully!</p>
        <textarea class="form-control text-success bg-dark" id="codeOutput" rows="3" *ngIf="result.compilationSuccessful">
          {{ result.output }}
        </textarea>
        <p *ngIf="!result.compilationSuccessful" class="text-danger">Code compilation or testing failed!</p>
        <textarea class="form-control text-danger bg-dark" id="codeOutput" rows="3" *ngIf="!result.compilationSuccessful">
          Error: {{ result.errorMessage }}
        </textarea>
      
    </div>
  </div>
  