<div class="margin container text-bg-primary p-3">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
          <img src="assets/space.jpg" alt="Logo" style="height: 35px; width: 35px; border-radius: 5px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
          <h3>Exam Portal</h3>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="obj.isLoggedIn">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a>
              </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="!obj.isLoggedIn">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/login">SignIn</a>
              </li>
          </ul>
      </div>
  </nav>
</div>

<!-- landing.component.html -->

<div class="container mt-5" *ngIf="obj.isLoggedIn">
    <h2 class="text-light">Welcome to Code Compiler and Tester</h2>
  
    <div class="form-group mt-3">
      <select style="border-radius: 10px;" [(ngModel)]="selectedLanguage">
        <option value="java">Java</option>
        <option value="python">Python</option>
      </select><br>
      <label for="codeInput" class="text-light">Enter Your Code:</label>
      <textarea class="form-control" id="codeInput" [(ngModel)]="code" rows="8"></textarea>
    </div>
  
    <button class="btn btn-primary mt-3" (click)="compileAndTest()">Run</button>
  
    <div class="mt-4" *ngIf="result">
      <h4 class="text-light">Results:</h4>
        <p *ngIf="result.compilationSuccessful" class="text-success">Code compiled and tested successfully!</p>
        <textarea class="form-control text-success bg-dark" id="codeOutput" rows="3" *ngIf="result.compilationSuccessful">
          {{ result.output }}
        </textarea>
        <p *ngIf="!result.compilationSuccessful" class="text-danger">Code compilation or testing failed!</p>
        <textarea class="form-control text-danger bg-dark" id="codeOutput" rows="3" *ngIf="!result.compilationSuccessful">
          Error: {{ result.errorMessage }}
        </textarea>
      
    </div>
  </div>
  