/* Add this to your component's CSS file or the global styles file */

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .form-group {
    margin-top: 20px;
  }
  
  #codeInput {
    resize: vertical;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    cursor: pointer;
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #45a049; /* Darker Green */
  }
  
  .mt-4 {
    margin-top: 40px;
  }
  
  .text-success {
    color: #4caf50; /* Green */
  }
  
  .text-danger {
    color: #f44336; /* Red */
  }
  
  /* Add more styles based on your design requirements */
  .margin{
    margin-top: 10px;
    padding: 0%;
    border-radius: 10px;
}
.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: #fff;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}
.navbar {
    height: 30px; /* Set the height to 50px */
}

.navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
    padding: 0.5rem; /* Adjust the padding as needed */
}

.navbar-toggler {
    padding: 0.25rem; /* Adjust the padding as needed */
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    height: 100%; /* Make the nav items fill the entire height */
    align-items: center; /* Vertically center the nav items */
}

.nav-item {
    padding: 0 10px; /* Adjust the padding as needed */
}

.nav-link {
    font-size: 1rem; /* Adjust the font size as needed */
}