<div class="text-dark" style="margin-top: 25px;">
    <div class="card">
        <h2 class="col-md-2">Welcome:</h2>
        <p class="col-md-10">Thank you for participating in the interview exam. Please carefully read the following instructions before proceeding.</p>
    </div>
    
    <div class="card">
        <div class="card-title">
            <h2 class="text-center">General Instructions</h2>
        </div>
        <hr>
        <ol>
            <li>
                <strong>Technical Requirements:</strong>
                <ul>
                    <li>Ensure a stable internet connection throughout the exam.</li>
                    <li>Use a laptop or desktop computer with a webcam and microphone.</li>
                    <li>Close all unnecessary applications and browser tabs.</li>
                </ul>
            </li>
    
            <!-- Add similar list items for each instruction -->
    
            <li>
                <strong>Review and Feedback:</strong>
                <ul>
                    <li>After the exam, review your performance and note areas for improvement.</li>
                    <li>Provide constructive feedback to help us enhance the exam experience.</li>
                </ul>
            </li>
    
            <li>
                <strong>Conclusion:</strong>
                <ul>
                    <li>Thank you for participating in the Interview Exam. We appreciate your time and effort.</li>
                    <li>Results and further instructions will be communicated after the evaluation process.</li>
                </ul>
            </li>
        </ol>
        <hr>
        <p><strong>Best of luck!</strong></p>
    </div>
    <div class="float-end" style="margin-right: 25px;margin-bottom: 10px;">
        <button (click)="exam()" class="btn btn-success" style="margin: 10px;">Start Exam</button>
    </div>
</div>