<!-- add-code.component.html -->

<div class="bootstrap-wrapper">
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="question-title">Add Question to {{ qTitle }}</h1>
            <mat-card class="mt-3">
                <mat-card-header>
                    <mat-card-subtitle>Enter the Details of the New Question</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="mt-3" >

                        <!-- Question Heading -->
                        <mat-form-field class="w-100">
                            <mat-label class="form-label">Write Question Title</mat-label>
                            <input type="text" matInput [(ngModel)]="heading" required class="form-control"  name="first"/>
                        </mat-form-field>

                        <!-- Question Description -->
                        <mat-form-field class="w-100">
                            <mat-label class="form-label">Write Question Description</mat-label>
                            <textarea rows="8" matInput required [(ngModel)]="description" placeholder="Enter here"  name="firsts"
                                class="form-control"></textarea>
                         
                        </mat-form-field>

                        <!-- Input -->
                        <mat-form-field class="w-100">
                            <mat-label class="form-label">Input</mat-label>
                            <textarea rows="2" matInput  placeholder="Enter input for example"></textarea>
                        </mat-form-field>

                        <!-- Output -->
                        <mat-form-field class="w-100">
                            <mat-label class="form-label">Output</mat-label>
                            <textarea rows="2" matInput  placeholder="Enter output for example "></textarea>
                        </mat-form-field>

                        <!-- Explanation -->
                        <mat-form-field class="w-100">
                            <mat-label class="form-label">Explanation</mat-label>
                            <textarea rows="5" matInput  placeholder="Enter explanation for example "></textarea>
                        </mat-form-field>

                        <!-- Constraint -->
                        <mat-form-field class="w-100">
                            <mat-label class="form-label">Enter Constraints</mat-label>
                            <textarea id="constraints" matInput  rows="5"
                                placeholder="Enter constraints" class="form-control"></textarea>
                        </mat-form-field>

                        <!-- File upload -->
                        <mat-form-field class="w-100" appearance="outline">
                            <div>
                                <mat-toolbar>
                                    <input matInput [value]="fileName" disabled class="form-control" />
                                    <button mat-flat-button color="primary" style="z-index: 5;"
                                        (click)="browseFiles()">Browse</button>
                                </mat-toolbar>
                                <input #fileInput required type="file" class="w-100 form-control" id="fileInput"
                                    (change)="selectFile($event)" style="z-index: 1;" name="fileInput" />
                            </div>
                        </mat-form-field>

                        <div *ngIf="message" class="message w-100 mt-3">
                            {{ message }}
                        </div>

                        <div class="container text-center mt-3">
                            <button mat-raised-button color="primary" (click)="formSubmit()">Add</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
