<div class="custom">
    <div class="scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt20">
                    <div class="ml20 mt10">
                        <h1>Read the instructions</h1>
                        <p>Thank you for participating in the exam. Please
                        carefully read the following instructions before
                        proceeding.</p>
                    </div>
                    <div class="card-body">
                        <hr>
                        <ul>
                            <!-- <li>Description of {{quizdata.title}} : {{quizdata.description}}</li>
                            <li>Total time : <b>{{quizdata.numberOfQuestions*2}} Minutes</b></li>
                            <li>There are <b>{{quizdata.numberOfQuestions}} Questions</b></li>
                            <li>Total marks for the quiz is <b>{{quizdata.maxMarks}}</b>.</li>
                            <li>Each question will have <b>{{quizdata.maxMarks/quizdata.numberOfQuestions}} marks</b>.</li> -->
                            <li>All questions are MCQ Type</li>
                            <li>
                                <strong>Attempting Quiz:</strong>
                                <ul>
                                    <li>Click <span
                                            class="badge bg-primary">Start
                                            Quiz</span> to start
                                    </li>
                                    <li>
                                        Click on any question number on the
                                        sidebar to see the corresponding
                                        question and its options.
                                    </li>
                                    <li>
                                        Click <span
                                            class="badge bg-dark">Next</span> /
                                        <span
                                            class="badge bg-dark">Previous</span>
                                        to view next / previous question
                                        respectively.
                                    </li>
                                    <li>
                                        Click <span
                                            class="badge bg-success">Save</span>
                                        after selecting your answer for every
                                        question.
                                    </li>
                                    <li>
                                        Question status colors will be as show
                                        below.
                                        <ul>
                                            <li>
                                                <span
                                                    class="badge bg-success">Attempted
                                                    question</span>
                                            </li>
                                            <li>
                                                <span
                                                    class="badge bg-danger">Not
                                                    attempted question</span>
                                            </li>
                                            <li>
                                                <span
                                                    class="badge bg-dark">Current
                                                    question</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Click <span
                                            class="badge bg-primary">Submit</span>
                                        when you have completed.
                                    </li>
                                    <li>
                                        Countdown time will be show on the top
                                        right.
                                    </li>
                                    <li>
                                        The exam will automatically submit at
                                        the end of time.
                                    </li>
                                    <li>
                                        You can <b>not go back or refresh</b>
                                        the page during the quiz. If you leave
                                        this page, your progress will be lost.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <strong>Technical Requirements:</strong>
                                <ul>
                                    <li>Ensure a stable internet connection
                                        throughout the exam.</li>
                                    <li>Use a laptop or desktop computer with a
                                        webcam and microphone.</li>
                                    <li>Close all unnecessary applications and
                                        browser tabs.</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Review and Feedback:</strong>
                                <ul>
                                    <li>After the exam, review your performance
                                        and note areas for improvement.</li>
                                    <li>Provide constructive feedback to help us
                                        enhance the exam experience.</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Conclusion:</strong>
                                <ul>
                                    <li>Thank you for participating in the
                                        Interview Exam. We appreciate your time
                                        and effort.</li>
                                    <li>Results and further instructions will be
                                        communicated after the evaluation
                                        process.</li>
                                </ul>
                            </li>
                        </ul>
                        <hr>
                        <p style="margin-bottom: 0px;">
                            <strong>
                                All the best!
                            </strong>
                            <button (click)="next()"
                                class="btn btn-success float-end">
                                Start Exam
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>