<div class="col-md-12">
    <div class="card my-3">
        <!-- /.card-header -->
        <div class="card-header">
            <h3 class="card-title" class="text-center" >MCQ Console</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="questionNo">Question Number</label>
                        <input type="text" class="form-control" id="questionNo" placeholder="Question Number" [(ngModel)]="mcqObj.questionNo" value="">
                    </div>
                    <div class="form-group">
                        <label for="questionId">Question Type</label>
                        <select class="form-control select2" id="questionId">
                            <option value="">Select</option>
                            <option value="SAQ">Single Answer </option>
                            <option value="MAQ">Multiple Answer </option>
                            <option value="DAQ">Discriptive Answer </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control select2" id="idStatus">
                            <option value="" selected="selected">SELECT</option>
                            <option value="PROCESSED">Processed</option>
                            <option value="VERIFIED">Verified</option>
                            <option value="DELETED">Delete</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer d-flex justify-content-end">
            <button type="button" class="btn btn-primary action-btn  px-2 mx-3" style="border-radius: 30px;" (click)="clear()">CLEAR</button>
            <button type="button" class="btn btn-primary action-btn  px-2 ml-auto" style="border-radius: 30px;" (click)="search()">SEARCH</button>
        </div>
        <!-- /.card-footer-->
    </div>
</div>
<!-- /.card-body -->
<!-- /.card-footer -->
<div class="card" style="width:100%">
    <div class="custom-card-body">
        <div class="row mb-2">
            <div class="col-md-12">
                <!-- <div class="bs-example">
                    <ul class="nav nav-pills table-status-badge">
                        <li class="nav-item">
                            <a class="badge badge-primary" (click)="refreshByStatus('')" style="background-color: rgb(65, 72, 65); border-radius: 30px; color: white;" >
                                ALL
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="badge badge-primary mx-3" (click)="refreshByStatus('PROCESSD')" style="background-color: rgb(199, 117, 54); border-radius: 30px; color: white;">
                                Pending Approval
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="badge badge-primary " (click)="refreshByStatus('VERIFIED')" style="background-color: rgb(76, 222, 76); border-radius: 30px; color: white;" >
                                Approved
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="badge badge-primary  mx-3" (click)="refreshByStatus('DELETED')" style="background-color: red; border-radius: 30px; color: white;">
                                Deleted
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="table-responsive">
            <table id="userList"  class="row-border" style="width:100%">
                <thead id="id-table-head">
                        <th *ngFor="let head of initialHead">{{ get(head.name)  }}</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <div class="card-footer clearfix d-flex justify-content-end">

        <button type="button" class="btn btn-secondary action-btn float-right px-2 mx-3 " style="border-radius: 30px;" (click)="delete()">
          {{ 'DELETE'  }}
        </button>
        <button type="button" class="btn btn-secondary action-btn float-right px-2" style="border-radius: 30px;" (click)="verify()">
          {{ 'VERIFY'  }}
        </button>
        <button type="button" class="btn btn-primary action-btn float-right px-2 mx-3" style="border-radius: 30px;" (click)="updateUser()">
          {{ 'UPDATE'  }}
        </button>
        <button type="button" class="btn btn-primary action-btn float-right px-2" style="border-radius: 30px;"(click)="createQuestion()">
          {{ 'CREATE'  }}
        </button>
    </div>
</div>
