<mat-toolbar color="primary" class="min-w-1024">
  <a mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </a>
  <a>
    <img class="logo-size" src="../../../assets/interland.png">
  </a>
  <a mat-button class="custom-button" aria-label="Coding Questions"
    (click)="getCategories()" *ngIf="showdata">
    <span class="button-text">Questions</span>
    <i class="bi bi-arrow-right-circle"></i>
  </a>

  <div class="example-spacer">
    <div class="text-center">
      <!-- Timer Display -->
      <div class="container-fluid">
        <div class="row text-center p-0 timer-div" *ngIf="showTimer && status">
          <div class="col-sm-2 col-md-2 col-lg-2 p-0">
            <i class="bi bi-alarm text-light p-0"></i>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10 p-0">
            <h3 class="timer"
              [class.text-light]="countdownMinutes >= 1"
              [class.text-danger]="countdownMinutes < 1">
              {{ countdownMinutes }}:{{ countdownSeconds < 10 ? '0' : '' }}{{
              countdownSeconds }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation Links -->
  <a *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button
    class="text-white mr20" aria-label="Login">
    Login
  </a>
  <!-- <a *ngIf="!isLoggedIn" routerLink="/signup" mat-icon-button
    class="text-white mr20" aria-label="Register">
    Register
  </a> -->
  <a *ngIf="showTimer" (click)="submitExam()" mat-icon-button
  class="text-white mr20" >
  Submit
</a>
  <a *ngIf="isLoggedIn && !showTimer" (click)="logout()" mat-icon-button
    class="text-white mr20" aria-label="Logout">
    Logout
  </a>
</mat-toolbar>