<mat-card>
    <h1>Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container">
                    <div class="image-container">
                        <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                            alt="" class="profile-image">
                        <h1 class="mt20">Admin</h1>
                    </div>
                </div>

                <div class="row">
                    <div col-md-10 offset-md-1>
                        <table class="table">
                            <tr>
                                <td>Username</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>Active</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">Share</button>
    </mat-card-actions>
</mat-card>
