<div class="form-group" style="margin: 10px;">
    <div class="card">
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        Enter Your Code:
                    </div>
                    <div>
                        <select class="float-end" style="border-radius: 10px;" [(ngModel)]="selectedLanguage" placeholder="Select">
                            <option value="" selected disabled>Select</option>
                            <option value="java">Java</option>
                            <option value="python">Python</option>
                            <option value="c">C</option>
                            <option value="cpp">C++</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="code-editor line-numbers">
                <pre><code class="code-input language-javascript" contenteditable="true" id="codeInput" (input)="onCodeInput($event)"></code></pre>
                <!-- <textarea class="form-control" id="codeInput" [(ngModel)]="code" rows="8"></textarea> -->
            </div>
            <div class="float-end">
                <button class="btn btn-danger mt-3" style="margin: 10px;" (click)="clear()">Clear</button>
                <button class="btn btn-danger mt-3" style="margin: 10px;" (click)="clearCode()">Clear Code</button>
                <button class="btn btn-success mt-3" style="margin: 10px;" (click)="executeCode()">Run</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 10px;">
    <div class="card col-md-8">
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        Output
<!--                         <p *ngIf="result.success && result.output" class="text-success">Code compiled and tested successfully!</p> -->
<!--                         <p *ngIf="!result.success" class="text-danger">Code compilation or testing failed!</p> -->
                    </div>
                    <div class="float-end">     
                        Time taken for execution: {{ executionTime }} ms
                    </div>
                </div>
            </div>
            <div class="code-editor">
                <pre><code class="code-output language-javascript" contenteditable="true" id="codeOutput" (keyup)="highlightCode()">{{result.output}}</code></pre>
            </div>
        </div>
    </div>
    <div id="testcase" class="card col-md-4" style="height: min-content;">
        <div style="width: max-content;">
            <button class="btn item-center" [class.btn-dark]="case==1" [class.btn-outine-dark]="case!=1" style="margin-top: 10px;margin-left: 10px;margin-right: 10px;margin-bottom: 0px;" (click)="case=1">Case 1</button>
            <button class="btn item-center" [class.btn-dark]="case==2" [class.btn-outine-dark]="case!=2" style="margin-top: 10px;margin-left: 10px;margin-right: 10px;margin-bottom: 0px;" (click)="case=2">Case 2</button>    
            <button class="btn item-center" [class.btn-dark]="case==3" [class.btn-outine-dark]="case!=3" style="margin-top: 10px;margin-left: 10px;margin-right: 10px;margin-bottom: 0px;" (click)="case=3">Case 3</button>
        </div>
        <div class="card-body">
            <div id="case1" class="card" *ngIf="case==1">
                <div class="card-body">
                    <div class="card title" style="margin: 10px">
                        <div style="margin: 10px;">
                            <div class="float-start">
                                Test Case : 1
                            </div>
                        </div>
                    </div>
                    <div class="form-floating code-editor line-numbers">
                        <textarea class="form-control" id="testInput11" [(ngModel)]="testInput11" rows="1"></textarea>
                        <label for="floatingTextarea">Input 1</label>
                    </div>
                    <div class="form-floating code-editor">
                        <textarea class="form-control" id="testInput12" [(ngModel)]="testInput12" rows="1"></textarea>
                        <label for="floatingTextarea">Input 2</label>
                    </div>
                </div>
            </div>
            <div id="case2" class="card" *ngIf="case==2">
                <div class="card-body">
                    <div class="card title" style="margin: 10px">
                        <div style="margin: 10px;">
                            <div class="float-start">
                                Test Case : 2
                            </div>
                        </div>
                    </div>
                    <div class="form-floating code-editor">
                        <textarea class="form-control" id="testInput21" [(ngModel)]="testInput21" rows="1"></textarea>
                        <label for="floatingTextarea">Input 1</label>
                    </div>
                    <div class="form-floating code-editor">
                        <textarea class="form-control" id="testInput22" [(ngModel)]="testInput22" rows="2"></textarea>
                        <label for="floatingTextarea">Input 2</label>
                    </div>
                </div>
            </div>
            <div id="case3" class="card" *ngIf="case==3">
                <div class="card-body">
                    <div class="card title" style="margin: 10px">
                        <div style="margin: 10px;">
                            <div class="float-start">
                                Test Case : 3
                            </div>
                            <div class="float-end">
                            </div>
                        </div>
                    </div>
                    <div class="form-floating code-editor">
                        <textarea class="form-control" id="testInput31" [(ngModel)]="testInput31" rows="1"></textarea>
                        <label for="floatingTextarea">Input 1</label>
                    </div>
                    <div class="form-floating code-editor">
                        <textarea class="form-control" id="testInput32" [(ngModel)]="testInput32" rows="2"></textarea>
                        <label for="floatingTextarea">Input 2</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>