<div class="form-group" style="margin: 10px;">
    <div class="card">
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        <h5 class="text-dark">Enter Your Code:</h5>
                    </div>
                    <div>
                        <select class="float-end" style="border-radius: 10px;" [(ngModel)]="selectedLanguage" placeholder="Select">
                            <option value="" selected disabled>Select</option>
                            <option value="java">Java</option>
                            <option value="python">Python</option>
                            <option value="c">C</option>
                            <option value="cpp">C++</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="code-editor line-numbers">
                <pre><code class="code-input language-javascript" contenteditable="true" id="codeInput" (input)="onCodeInput($event)"></code></pre>
                <!-- <textarea class="form-control" id="codeInput" [(ngModel)]="code" rows="8"></textarea> -->
            </div>
        </div>
        <div class="float-end">
            <button class="btn btn-danger mt-3" style="margin: 10px;" (click)="clear()">Clear</button>
            <button class="btn btn-danger mt-3" style="margin: 10px;" (click)="clearCode()">Clear Code</button>
            <button class="btn btn-success mt-3" style="margin: 10px;" (click)="executeCode()">Run</button>
        </div>
    </div>
</div>
<div class="row" style="margin: 10px;">
    <div class="card col-md-8">
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        <h5 class="text-dark">Output:</h5>
<!--                         <p *ngIf="result.success && result.output" class="text-success">Code compiled and tested successfully!</p> -->
<!--                         <p *ngIf="!result.success" class="text-danger">Code compilation or testing failed!</p> -->
                    </div>
                    <div class="float-end">     
                        <p class="text-dark mt-2">Time taken for execution: {{ executionTime }} ms</p>
                    </div>
                </div>
            </div>
            <div class="code-editor">
                <pre><code class="code-output language-javascript" contenteditable="true" id="codeOutput" (keyup)="highlightCode()">{{result.output}}</code></pre>
            </div>
        </div>
    </div>
    <div class="card col-md-4" style="height: 300px; overflow-y: auto;">
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        <h5 class="text-dark">Test Case : </h5>
                    </div>
                    <div class="float-end">     
                        <p class="text-dark mt-2">Time taken for execution: {{ executionTime }} ms</p>
                    </div>
                </div>
            </div>
            <div class="code-editor">
                <textarea class="form-control" id="testInput1" [(ngModel)]="testInput1" rows="1"></textarea>
            </div>
            <div class="code-editor">
                <textarea class="form-control" id="testOutput1" [(ngModel)]="testOutput1" rows="2"></textarea>
            </div>
        </div>
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        <h5 class="text-dark">Test Case : </h5>
                    </div>
                    <div class="float-end">     
                        <p class="text-dark mt-2">Time taken for execution: {{ executionTime }} ms</p>
                    </div>
                </div>
            </div>
            <div class="code-editor">
                <textarea class="form-control" id="testInput2" [(ngModel)]="testInput2" rows="1"></textarea>
            </div>
            <div class="code-editor">
                <textarea class="form-control" id="testOutput2" [(ngModel)]="testOutput2" rows="2"></textarea>
            </div>
        </div>
        <div class="card-body">
            <div class="card title" style="margin: 10px">
                <div style="margin: 10px;">
                    <div class="float-start">
                        <h5 class="text-dark">Test Case : </h5>
                    </div>
                    <div class="float-end">
                    </div>
                </div>
            </div>
            <div class="code-editor">
                <textarea class="form-control" id="testInput3" [(ngModel)]="testInput3" rows="1"></textarea>
            </div>
            <div class="code-editor">
                <textarea class="form-control" id="testOutput3" [(ngModel)]="testOutput3" rows="2"></textarea>
            </div>
        </div>
    </div>
</div>