.margin{
    margin-top: 10px;
    padding: 0%;
    border-radius: 10px;
}
.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(62, 48, 48, 0.55);
    --bs-navbar-hover-color: #000000;
    --bs-navbar-disabled-color: rgba(62, 48, 48, 0.55);
    --bs-navbar-active-color: #000000;
    --bs-navbar-brand-color: rgba(62, 48, 48, 0.55);
    --bs-navbar-brand-hover-color: #000000;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}
.navbar {
    height: 30px; /* Set the height to 50px */
}

.navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
    padding: 0.5rem; /* Adjust the padding as needed */
}

.navbar-toggler {
    padding: 0.25rem; /* Adjust the padding as needed */
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    height: 100%; /* Make the nav items fill the entire height */
    align-items: center; /* Vertically center the nav items */
}

.nav-item {
    padding: 0 10px; /* Adjust the padding as needed */
}

.nav-link {
    font-size: 1rem; /* Adjust the font size as needed */
}