<div class="flex h-92 w-full flex-col ">
    <div class="flex w-full flex-grow">
        <div class="bg-gray-2 flex h-full w-full p-2">
            <p-splitter [panelSizes]="[50, 50]" layout="horizontal"
                style="width: 100%;height: 100%;" [gutterSize]="15">
                <ng-template pTemplate="panel">
                    <div
                        class="h-full flex-col h-full w-full max-h-90 min-w-300">
                        <div class="relative flex h-full flex-col">
                            <div class="min-h-0 flex-grow"
                                style="height: 100%;">
                                <div
                                    class="flex h-full flex-col rounded bg-layer-1">
                                    <div>
                                        <div
                                            class="bg-layer-2 border-fill-3 flex h-9 w-full items-center justify-between rounded-t border-b px-4">
                                            <div
                                                class="flex h-full w-full flex-row gap-6">
                                                <a>
                                                    <div
                                                        class="relative flex h-full select-none items-center whitespace-nowrap text-xs text-label-1 font-medium hover:text-label-1 shrink">
                                                        <span>Description</span>
                                                        <div
                                                            class="bg-gray-7 absolute -bottom-[1px] h-[2px] w-full">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex h-full w-full overflow-y-auto rounded-b non-selectable">
                                        <div
                                            class="flex h-full w-full overflow-y-auto">
                                            <div
                                                class="flex h-full w-full flex-1 flex-col">
                                                <div class="w-full px-3 pt-3">
                                                    <div class="w-full">
                                                        <div class="flex">
                                                            <div class="flex-1">
                                                                <div
                                                                    class="flex h-full items-center">
                                                                    <p
                                                                        class="mr-2 text-label-1 hover:text-label-1 text-lg font-medium">
                                                                        <b>
                                                                            <p>{{
                                                                                questiondata?.title
                                                                                }}</p>
                                                                        </b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="px-3 mt-3">
                                                    <hr>
                                                    <div class="mt-3">
                                                        <p><i>{{questiondata.description}}</i></p>
                                                        <ul class="mt-3">
                                                            <hr>
                                                            <li class="mt-3"
                                                                *ngIf="(questiondata.example1Input&&questiondata.example1Output)">
                                                                <b><u>Example
                                                                        1</u></b>
                                                                <ul
                                                                    class="ml-10">
                                                                    <li>
                                                                        <b>Input:
                                                                        </b>
                                                                        <ul
                                                                            class="ml-10">
                                                                            <li>
                                                                                <code>{{questiondata.example1Input}}</code>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <b>Output:
                                                                        </b>
                                                                        <ul
                                                                            class="ml-10">
                                                                            <li>
                                                                                <code>{{questiondata.example1Output}}</code>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <b>Explanation:</b>
                                                                        <ul
                                                                            class="ml-10">
                                                                            <li>
                                                                                <i>{{questiondata.example1Exp}}</i>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <hr>
                                                            <li class="mt-3"
                                                                *ngIf="(questiondata.example2Input&&questiondata.example2Output)">
                                                                <b><u>Example
                                                                        2</u></b>
                                                                <ul
                                                                    class="ml-10">
                                                                    <li>
                                                                        <b>Input:
                                                                        </b>
                                                                        <ul
                                                                            class="ml-10">
                                                                            <li>
                                                                                <code>{{questiondata.example2Input}}</code>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <b>Output:
                                                                        </b>
                                                                        <ul
                                                                            class="ml-10">
                                                                            <li>
                                                                                <code>{{questiondata.example2Output}}</code>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <b>Explanation:</b>
                                                                        <ul
                                                                            class="ml-10">
                                                                            <li>
                                                                                <i>{{questiondata.example2Exp}}</i>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <hr>
                                                            <li class="mt-3">
                                                                <b><u>Constraints:</u></b>
                                                                <ul
                                                                    class="ml-10"
                                                                    [innerHTML]="constraints">
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="h-full flex-col w-full h-full max-h-90">
                        <div class="relative flex h-full flex-col">
                            <div class="min-h-0 flex-grow">
                                <div
                                    class="flex h-full flex-col rounded bg-layer-1">
                                    <div class="flex h-full flex-col">
                                        <div
                                            class="relative flex h-full flex-col overflow-hidden rounded"
                                            id="editor">
                                            <div
                                                class="flex h-9 items-center pr-4 bg-layer-2 border-fill-3 rounded-t border-b">
                                                <div
                                                    class="mr-auto flex flex-nowrap items-center gap-3">
                                                    <div>
                                                        <div>
                                                            <select
                                                                class="select form-select"
                                                                [(ngModel)]="selectedLanguage"
                                                                (change)="onChangeLang()">
                                                                <option
                                                                    value="java">
                                                                    Java
                                                                </option>
                                                                <option
                                                                    value="python">
                                                                    Python
                                                                </option>
                                                                <option
                                                                    value="cpp">
                                                                    C++
                                                                </option>
                                                                <option
                                                                    value="c">
                                                                    C
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ml-auto flex gap-3">
                                                    <button type="button"
                                                        class="btn btn-warning"
                                                        (click)="openOutput()">
                                                        Run<i
                                                            class="bi bi-play-fill"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn btn-case-active"
                                                        (click)="save()"
                                                        [innerHTML]="saveText">
                                                    </button>
                                                    <button type="button"
                                                        class="btn btn-success"
                                                        (click)="executeCode()"
                                                        [innerHTML]="submit">
                                                    </button>
                                                </div>
                                            </div>
                                            <div
                                                class="flex flex-1 flex-col overflow-hidden">
                                                <div
                                                    class="flex-1 overflow-hidden">
                                                    <textarea id="editor"
                                                        #editor type="text"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <!-- Console Toggle Button -->
                                            <div
                                                class="flex h-9 items-center pr-4 bg-layer-2 border-fill-3 rounded-t border-b">
                                                <div
                                                    class="mr-auto flex flex-nowrap items-center gap-3">
                                                    <div>
                                                        <button type="button"
                                                            class="btn ml-2 w-full flex items-center"
                                                            (click)="toggleOpen()">
                                                            <span>Console</span>
                                                            <i class="bi"
                                                                [class.bi-chevron-up]="!isOpen"
                                                                [class.bi-chevron-down]="isOpen"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div
                                                    class="fade saved-container flex ml-auto gap-3 non-selectable bg-success"
                                                    [class.hide]="toast == false"
                                                    [class.show]="toast == true"
                                                    role="alert">
                                                    <div class="text-white">
                                                        Saved Successfully !
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Console Content -->
                                            <div id="console" class="console"
                                                [ngClass]="{ 'open': isOpen }">
                                                <div *ngIf="loading == true"
                                                    class="loader-body">
                                                    <div class="loader">
                                                        <span>{{braceLeft}}</span><span>{{braceRight}}</span>
                                                    </div>
                                                </div>
                                                <div class="row"
                                                    *ngIf="loading == false">
                                                    <div
                                                        class="col-md-12 h-full">
                                                        <!-- Case Buttons -->
                                                        <div
                                                            class="flex p-1 border-b">
                                                            <button
                                                                type="button"
                                                                class="btn position-relative"
                                                                [class.btn-case]="!case1"
                                                                [class.btn-case-active]="case1"
                                                                (click)="activateCase1()">
                                                                Case 1 <i
                                                                    class="bi"
                                                                    [class.color-danger]="case_1.success == 'false'"
                                                                    [class.color-success]="case_1.success == 'true'"
                                                                    [class.bi-check-circle-fill]="case_1.success == 'true'"
                                                                    [class.bi-x-circle-fill]="case_1.success == 'false'"></i>
                                                            </button>
                                                            <button
                                                                type="button"
                                                                class="btn ml5"
                                                                [class.btn-case]="!case2"
                                                                [class.btn-case-active]="case2"
                                                                (click)="activateCase2()">
                                                                Case 2 <i
                                                                    class="bi"
                                                                    [class.color-danger]="case_2.success == 'false'"
                                                                    [class.color-success]="case_2.success == 'true'"
                                                                    [class.bi-check-circle-fill]="case_2.success == 'true'"
                                                                    [class.bi-x-circle-fill]="case_2.success == 'false'"></i>
                                                            </button>
                                                            <button
                                                                type="button"
                                                                class="btn ml5"
                                                                [class.btn-case]="!case3"
                                                                [class.btn-case-active]="case3"
                                                                (click)="activateCase3()">
                                                                Case 3 <i
                                                                    class="bi"
                                                                    [class.color-danger]="case_3.success == 'false'"
                                                                    [class.color-success]="case_3.success == 'true'"
                                                                    [class.bi-check-circle-fill]="case_3.success == 'true'"
                                                                    [class.bi-x-circle-fill]="case_3.success == 'false'"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- Case Content -->
                                                    <div class="col-md-12 case-scroll-y">
                                                        <div class="card"
                                                            *ngIf="case1 == true">
                                                            <div
                                                                class="case-body">
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Input</p>
                                                                    <code contenteditable="true">{{case_1.input}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Output</p>
                                                                    <code>{{case_1.output}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Expected
                                                                        Output</p>
                                                                    <code>{{case_1.expectedOutput}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Message</p>
                                                                    <code
                                                                        [class.color-danger]="case_1.success == 'false'"
                                                                        [class.color-success]="case_1.success == 'true'">{{case_1.message}}</code>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card"
                                                            *ngIf="case2 == true">
                                                            <div
                                                                class="case-body">
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Input</p>
                                                                    <code>{{case_2.input}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Output</p>
                                                                    <code>{{case_2.output}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Expected
                                                                        Output</p>
                                                                    <code>{{case_2.expectedOutput}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Message</p>
                                                                    <code
                                                                        [class.color-danger]="case_2.success == 'false'"
                                                                        [class.color-success]="case_2.success == 'true'">{{case_2.message}}</code>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card"
                                                            *ngIf="case3 == true">
                                                            <div
                                                                class="case-body">
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Input</p>
                                                                    <code>{{case_3.input}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Output</p>
                                                                    <code>{{case_3.output}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Expected
                                                                        Output</p>
                                                                    <code>{{case_3.expectedOutput}}</code>
                                                                </div>
                                                                <div
                                                                    class="row">
                                                                    <p
                                                                        class="p-0">Message</p>
                                                                    <code
                                                                        [class.color-danger]="case_3.success == 'false'"
                                                                        [class.color-success]="case_3.success == 'true'">{{case_3.message}}</code>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-splitter>
        </div>
    </div>
</div>