<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20"> Available Content</h1>
        <div class="row mt20">
            <!-- Display Quizzes -->
            <div class="col-md-4" *ngFor="let quiz of quizzes">
                <mat-card class="mb20" *ngIf="title == quiz.category.title && catId == quiz.category.cid">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{quiz.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{quiz.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{quiz.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="question(quiz.qid)">Start</button>
                        <button mat-button color="warn">Questions:
                            {{quiz.numberOfQuestions}}</button>
                        <button mat-button color="warn">Marks:
                            {{quiz.maxMarks}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="row mt20" *ngIf="title === 'CODING'">
            <div class="col-md-4" *ngFor="let codingQuestion of codingQuestions">
                <mat-card class="mb20">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{codingQuestion.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            Coding Question
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{codingQuestion.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="coding(codingQuestion.questionId)">Start</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <!-- Handle the case when no quizzes or coding questions are available -->
        <div class="col-md-12" *ngIf="!(quizzes?.length || codingQuestions?.length)">
            <mat-card>
                <mat-card-content>
                    <h1>No Data Available</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>