.full-view-height{
    height: 100%;
}
.header {
    position: fixed;
}
.row>* {
    padding-right: 0px;
    padding-left: 0px;
}
.nav-link{
    color: var(--bs-dark-color);
}

#timer-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  #timer-bar {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border-radius: 50%;
    animation: timer-animation 300s linear;
    position: absolute;
    transform-origin: center;
  }

  @keyframes timer-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }