.full-view-height{
    height: 90vh;
}
.header {
    position: fixed;
}
.row>* {
    padding-right: 0px;
    padding-left: 0px;
}
.nav-link{
    color: var(--bs-dark-color);
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
}