.full-view-height{
    height: 100%;
}
.header {
    position: fixed;
}
.row>* {
    padding-right: 0px;
    padding-left: 0px;
}
.nav-link{
    color: var(--bs-dark-color);

}

.nav-tabs{
    --bs-nav-tabs-border-width: 0px;
}