<div class="main-div">
    <div class="justify-content-center">
        <div class="card">
            <div class="card-body p-100 pb-50">
                <div class="font-size-l text-center">
                    <b><i>Thank You !</i></b><br><br>
                </div>
                <p class="text-muted mt-3 text-center">Your exam has been successfully submitted. <br></p>
                <p class="text-muted mt-3 text-center">We will review your answers and provide feedback as soon as possible through email. <br></p>
                <p class="text-muted mt-3 text-center">Wait for further instructions. <br></p>
            </div>
        </div>
    </div>
</div>