.main-div{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.font-size-l{
  font-size: 50px;
}

.p-100{
  padding: 100px;
}

.pb-50{
  padding-bottom: 50px;
}